<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mvp.wyyne.douban.moviedouban">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="718fd033ca" />
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1" />
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="APP_Channel" />
        <!-- 配置Bugly调试模式（true或者false）-->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />


        <activity
            android:name=".home.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".detail.DetailMovieActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".detail.cast.CastArticleActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".detail.stills.StillsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detail.stills.AllStillsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".detail.photo.PhotoActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".detail.cast.CastDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".detail.photo.CastPhotoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".oneself.SettingActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".hot.city.CityActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".detail.head.CommentCountActivity"
            android:launchMode="singleTop"
            android:theme="@style/ColorTranslucentTheme" />

        <activity
            android:name=".login.LoginActivity"
            android:launchMode="singleTop" />


        <activity
            android:name=".detail.comment.photo.PhotoCommentActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".oneself.photo.OneSelfPhotoActivity"
            android:launchMode="singleTop" />
    </application>

</manifest>